body{
    background-color: #ab68eb;
}

.maincontainer{
    width: 77%;
    height: 70vh;
    border: 2px solid transparent;
    margin-left: 13rem;
    margin-top: 7rem;
    border-radius: 20px;
    display: flex;   
    overflow: hidden;
    background-color: #ffffff;
}

.container1{
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    width: 50%;
}

.image1{
    margin-top: 7rem;
    margin-left: -40px;
}

.image2{
    margin-top: -14rem;
    margin-left: -7rem;
}

.image3{
    margin-top: -45rem;
    margin-left: -32rem;
    width: 77%;
    height: 50vh;
}

.container2{
    /* border: 3px solid yellow; */
    width: 50%;
    margin-left: 5rem;
    margin-top: 3rem;
}

.dropdown1{
    margin-top: -2rem;
    margin-left: 25rem;
}

.dropdown2{
    margin-top: -5.5rem;
    margin-left: 25rem;
}

.dropdown3{
    margin-top: -2.2rem;
    margin-left: 25rem;
}

.dropdown4{
    margin-top: -2.2rem;
    margin-left: 25rem;
}

.dropdown5{
    margin-top: -2.2rem;
    margin-left: 25rem;
}

.question2{
    margin-bottom: 1rem;
}

.underline1{
    border: 1px solid #6b6c72;
    margin-top: 1rem;
    width: 77%;
    opacity: 0.2;
}

.underline2{
    border: 1px solid #6b6c72;
    margin-top: 4rem;
    width: 77%;
    opacity: 0.2;
}

.underline3{
    border: 1px solid #6b6c72;
    margin-top: 1rem;
    width: 77%;
    opacity: 0.2;
}

.underline4{
    border: 1px solid #6b6c72;
    margin-top: 1rem;
    width: 77%;
    opacity: 0.2;
}

.underline5{
    border: 1px solid #6b6c72;
    margin-top: 1rem;
    width: 77%;
    opacity: 0.2;
}








